<div class="tweet-container">
  <!-- <input (keyup)="onKey($event)">
  <p>{{user}}</p> -->
  <input [(ngModel)]="user">
  <p>Bienvenue : {{user}}</p>
  <div *ngFor="let tweet of tweets" >
    <div class="tweet-header">
      <strong>{{ tweet.user }}</strong>
      <small class="time">{{ tweet.created_at | timeAgo }}</small>
    </div>
    <div class="tweet-content">
      {{ tweet.text }}
    </div>
    <i #like (click)="onlike(tweet,like)" class="far fa-heart" ></i><small>{{tweet.favoriteCount}}</small>
  </div>
  <br>
  <div>
    <textarea #userInput class="textarea"></textarea>
    <button [disabled]="!user" (click)="onTweet(userInput)" class="send-tweet-button">Tweeter</button>
  </div>

</div>
